
$primary: #f47b39;
$background_primary: #fff;
$background_secondary: #f7f7f7;
$sidebar_background_primary: #f0f0f0;
$button_primary: transparent;
$text_primary: #333;
$text_primary_dark: #fff;
$background_primary_dark: #16161d;
$background_secondary_dark: #1b1b22;
$sidebar_background_primary_dark: #27272f;


$screen_size: ("xl": 1200px, "l": 1024px, "md": 768px, "sm": 425px)



// background_primary_light
// background_secondary_light
// sidebar_background_light
